@layer normalize, styles;

@layer normalize {
    /* Document
   ========================================================================== */

    /**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

    html {
        line-height: 1.15; /* 1 */
        -webkit-text-size-adjust: 100%; /* 2 */
    }

    /* Sections
     ========================================================================== */

    /**
   * Remove the margin in all browsers.
   */

    body {
        margin: 0;
    }

    /**
   * Render the `main` element consistently in IE.
   */

    main {
        display: block;
    }

    /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

    h1 {
        font-size: 2em;
        margin: 0.67em 0;
    }

    /* Grouping content
     ========================================================================== */

    /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

    hr {
        box-sizing: content-box; /* 1 */
        height: 0; /* 1 */
        overflow: visible; /* 2 */
    }

    /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

    pre {
        font-family: monospace, monospace; /* 1 */
        font-size: 1em; /* 2 */
    }

    /* Text-level semantics
     ========================================================================== */

    /**
   * Remove the gray background on active links in IE 10.
   */

    a {
        background-color: transparent;
    }

    /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

    abbr[title] {
        border-bottom: none; /* 1 */
        text-decoration: underline; /* 2 */
        text-decoration: underline dotted; /* 2 */
    }

    /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

    b,
    strong {
        font-weight: bolder;
    }

    /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

    code,
    kbd,
    samp {
        font-family: monospace, monospace; /* 1 */
        font-size: 1em; /* 2 */
    }

    /**
   * Add the correct font size in all browsers.
   */

    small {
        font-size: 80%;
    }

    /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sub {
        bottom: -0.25em;
    }

    sup {
        top: -0.5em;
    }

    /* Embedded content
     ========================================================================== */

    /**
   * Remove the border on images inside links in IE 10.
   */

    img {
        border-style: none;
    }

    /* Forms
     ========================================================================== */

    /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

    button,
    input,
    optgroup,
    select,
    textarea {
        font-family: inherit; /* 1 */
        font-size: 100%; /* 1 */
        line-height: 1.15; /* 1 */
        margin: 0; /* 2 */
    }

    /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

    button,
    input {
        /* 1 */
        overflow: visible;
    }

    /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

    button,
    select {
        /* 1 */
        text-transform: none;
    }

    /**
   * Correct the inability to style clickable types in iOS and Safari.
   */

    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
        -webkit-appearance: button;
        appearance: button;
    }

    /**
   * Remove the inner border and padding in Firefox.
   */

    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    /**
   * Restore the focus styles unset by the previous rule.
   */

    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText;
    }

    /**
   * Correct the padding in Firefox.
   */

    fieldset {
        padding: 0.35em 0.75em 0.625em;
    }

    /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

    legend {
        box-sizing: border-box; /* 1 */
        color: inherit; /* 2 */
        display: table; /* 1 */
        max-width: 100%; /* 1 */
        padding: 0; /* 3 */
        white-space: normal; /* 1 */
    }

    /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

    progress {
        vertical-align: baseline;
    }

    /**
   * Remove the default vertical scrollbar in IE 10+.
   */

    textarea {
        overflow: auto;
    }

    /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

    [type="checkbox"],
    [type="radio"] {
        box-sizing: border-box; /* 1 */
        padding: 0; /* 2 */
    }

    /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

    [type="number"]::-webkit-inner-spin-button,
    [type="number"]::-webkit-outer-spin-button {
        height: auto;
    }

    /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

    [type="search"] {
        -webkit-appearance: textfield; /* 1 */
        appearance: textfield;
        outline-offset: -2px; /* 2 */
    }

    /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

    [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

    /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

    ::-webkit-file-upload-button {
        -webkit-appearance: button; /* 1 */
        font: inherit; /* 2 */
    }

    /* Interactive
     ========================================================================== */

    /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */

    details {
        display: block;
    }

    /*
   * Add the correct display in all browsers.
   */

    summary {
        display: list-item;
    }

    /* Misc
     ========================================================================== */

    /**
   * Add the correct display in IE 10+.
   */

    template {
        display: none;
    }

    /**
   * Add the correct display in IE 10.
   */

    [hidden] {
        display: none;
    }
}

@layer styles {
    /* global variables */
    :root {
        --font-family-default: "Open Sans", sans-serif;
        --font-family-interactive: "Ubuntu", sans-serif;
        --font-weight-lighter: 300;
        --font-weight-normal: 400;
        --font-weight-semibold: 600;
        --font-weight-bold: 700;
        --color-opacity-accent: #e6b14280;
        --color-accent: #e6b142;
        --color-dark-accent: #a68d65;
        --color-primary: #fff8ea;
        --color-secondary: #402e32;
        --color-subtle-error: #ff0039;
    }
    /* global variables */

    /* generic styles */
    ::selection {
        background-color: var(--color-secondary);
        color: var(--color-accent);
    }

    * {
        margin: 0;
    }

    html {
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        scroll-snap-align: center;
    }

    ::-webkit-scrollbar {
        width: 0;
    }

    body {
        overflow-x: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scroll-snap-align: center;
    }

    .app {
        font-family: var(--font-family-default);
        font-weight: var(--font-weight-normal);
        min-height: 100vh;
        max-width: 100vw;
        color-scheme: light dark;
        font-size: 16px;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .app main,
    .app main > * {
        max-width: 100vw;
    }

    .app main > *:not(header) {
        padding: 0 1rem;
        max-width: calc(100% - 2rem);
    }

    .app > nav {
        background-color: var(--color-accent);
    }

    .app > main > :nth-child(2n + 1),
    .app > main > header:first-of-type,
    .app > main > #promos,
    .app > main > #nosotros {
        background-color: var(--color-accent);
    }

    input {
        font-family: var(--font-family-interactive);
    }

    main {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-areas: "header" "promos" "separator-1" "productos" "separator-2";
        justify-items: center;
    }

    main > * {
        width: 100%;
    }

    main > header:first-of-type {
        grid-area: header;
    }

    main > #promos {
        grid-area: promos;
    }

    main > #productos {
        grid-area: productos;
    }

    main > .separator-wave:nth-of-type(1) {
        grid-area: separator-1;
    }

    main > .separator-wave:nth-of-type(2) {
        grid-area: separator-2;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    h2 {
        font-size: clamp(1.8rem, 4vw, 3.5rem);
    }

    h2,
    .text-center {
        text-align: center;
    }

    .text-balance {
        text-wrap: balance;
    }

    .separator-wave {
        width: 100%;
        height: 3rem;
        background-color: var(--color-primary);
    }

    .separator-wave:nth-of-type(2n) {
        background-color: var(--color-accent);
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    img {
        max-width: 90vw;
    }

    .container-iframe {
        position: relative;
        overflow: hidden;
        width: 100%;
        aspect-ratio: 16/9;
        margin-bottom: 2rem;
    }

    .container-iframe > iframe {
        position: absolute;
        inset: 0;
        left: 5%;
        width: 90%;
        height: 100%;
    }

    footer {
        text-align: center;
        text-wrap: balance;
        padding: 1rem;
    }
    /* generic styles */

    /* styling nav here */
    #nav {
        position: fixed;
        inset: 0;
        z-index: 5;
        max-height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid var(--color-primary);
        backdrop-filter: blur(5px);
    }

    #nav .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;
    }

    #nav .logo .name:nth-child(1) {
        font-size: 1.7rem;
    }

    #nav .logo .name:nth-child(2) {
        font-size: 1rem;
    }

    #nav ul {
        display: flex;
        gap: 5rem;
    }

    #nav .interactive-zone {
        display: flex;
        gap: 1rem;
        font-size: 1.3rem;
    }
    /* styling nav here */

    /* styling banner */
    .banner-image {
        max-width: 100%;
    }

    header {
        position: relative;
    }

    .slogan {
        position: absolute;
        top: 5vw;
        left: 15%;
        color: var(--color-accent);
        display: grid;
        text-align: center;
    }

    .slogan > span {
        font-size: 5vw;
    }

    .slogan > span:first-of-type {
        color: var(--color-opacity-accent);
        font-size: 3vw;
        margin-bottom: 2vw;
    }
    /* styling banner */

    /* styling products section here */
    #productos .products,
    #promos .carrousel {
        padding: 2rem 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem 1rem;
    }

    #productos .products .card,
    #promos .carrousel .card {
        box-shadow: 0 0 0.5px 0.25px black;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 1rem;
        width: clamp(5rem, 100%, 20rem);
    }

    .wrapper-image,
    img {
        max-width: 100%;
        aspect-ratio: 4/3;
    }

    .wrapper-image {
        margin: 1rem 0.5rem;
        margin-right: 1.5rem;
    }

    img {
        border-radius: 0.5rem;
    }

    .hide {
        filter: grayscale(50%) opacity(0.5);
    }

    .card {
        transition-property: filter cursor;
        transition: 0.5s ease;
    }

    .card:hover {
        filter: saturate(1.1) contrast(1.1);
        cursor: pointer;
    }

    #promos .carrousel {
        flex-wrap: nowrap;
        position: relative;
        /* simulate card height */
        aspect-ratio: 4/3;
        /* simulate card height */
        scroll-snap-type: x mandatory;
        scroll-snap-align: center;
    }

    @media only screen and (min-width: 500px) {
        #promos .carrousel {
            aspect-ratio: 2/1;
        }
    }
    @media only screen and (min-width: 700px) {
        #promos .carrousel {
            aspect-ratio: 8/3;
        }
    }

    #promos .carrousel .card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "promo-name" "promo-img" "promo-description";
        width: 90vw;
        position: absolute;
    }

    #promos .carrousel .card .promo-name {
        grid-area: promo-name;
    }

    #promos .carrousel .card .wrapper-image {
        grid-area: promo-img;
    }

    #promos .carrousel .card .description {
        grid-area: promo-description;
    }

    #productos .card {
        display: grid;
        grid-template-columns: minmax(130px, 400px) minmax(180px, 1fr);
        grid-template-areas: "img name" "img category" "img description" "img interactive" "img interactive";
        gap: 0.5rem;
        position: relative;
        background-color: var(--color-opacity-accent);
    }

    #productos .card .wrapper-image {
        grid-area: img;
    }

    #productos .card .wrapper-image::before {
        content: "";
        position: absolute;
        top: -1rem;
        left: -1rem;
        width: 128%;
        height: calc(108% - 1px);
        transform: translateY(1px);
        border-radius: 1rem 0 0 1rem;
        background-color: var(--color-accent);
        z-index: 1;
    }

    #productos .card .wrapper-image,
    #productos .card img {
        filter: drop-shadow(rgb(0 0 0 / 0.5) 1px 2px 2px);
        width: 6.8rem;
        height: 99%;
        position: absolute;
        top: -4%;
        left: -4%;
        z-index: 2;
    }

    #productos .card img {
        translate: 0.13rem 0.2rem;
    }

    #productos .card .name {
        grid-area: name;
        font-size: 1.7rem;
    }
    #productos .card .tag {
        position: absolute;
        z-index: 3;
        inset: 1rem 0 0 -0.25rem;
        height: fit-content;
        background-color: white;
        padding: 0.25rem;
        padding-left: 0.5rem;
        border-radius: 0 0.5rem 0.5rem 0;
        box-shadow: 3px 1px 3px 1px rgb(0 0 0 / 0.5);
    }
    #productos .card .category {
        grid-area: category;
        color: var(--color-accent);
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
    #productos .card .description {
        grid-area: description;
        font-weight: var(--font-weight-lighter);
        opacity: 0.7;
        margin-bottom: 1rem;
        text-wrap: balance;
    }
    #productos .card .interactive-zone {
        grid-area: interactive;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    #productos .card .interactive-zone > button,
    #productos .card .interactive-zone > input {
        background-color: var(--color-opacity-accent);
        color: var(--color-secondary);
        font-weight: var(--font-weight-semibold);
        border-radius: 0.3rem;
        cursor: pointer;
        transition: scale 0.4s ease;
    }

    #productos .card .interactive-zone > button:hover,
    #productos .card .interactive-zone > input:hover {
        scale: 1.02;
    }

    #productos .card .interactive-zone > input {
        flex: 1 1 auto;
        text-align: center;
        width: 40px;
    }

    #productos .card .tag,
    #productos .card .name {
        width: fit-content;
    }
    /* styling products section here */

    /* styling nosotros */

    @media only screen and (min-width: 400px) {
        #nosotros {
            padding: 0 1rem;
        }
        #nosotros > * {
            margin: 0 4rem;
        }
    }
    #nosotros .wrapper-image,
    #nosotros img {
        display: none;
    }

    @media only screen and (min-width: 744px) {
        #nosotros {
            display: grid;
            grid-template-areas: "about-title about-title" "about-img about-p1" "about-p2 about-p2" "about-p3 about-p3";
            gap: 1rem 0;
            container: about-text/inline-size;
        }

        #nosotros .about-us:first-of-type {
            margin-top: 1rem !important;
        }

        #nosotros > .about-us:first-of-type {
            margin: 0 4rem 0 0;
        }

        #nosotros .wrapper-image,
        #nosotros img {
            display: block;
            width: 40vw;
            aspect-ratio: 1/1;
            translate: 0.3rem 0.5rem;
        }

        #nosotros h2 {
            grid-area: about-title;
            margin-bottom: 2rem;
        }

        #nosotros .about-us {
            font-size: 1rem;
        }

        @container about-text (width > 820px) {
            #nosotros .about-us {
                font-size: 1.3rem;
            }
        }
        @container about-text (width > 900px) {
            #nosotros .about-us {
                font-size: 1.5rem;
            }
        }
        @container about-text (width > 1000px) {
            #nosotros .about-us {
                font-size: 1.7rem;
            }
        }
        @container about-text (width > 1180px) and (width < 1440px) {
            #nosotros .about-us {
                font-size: 1.9rem;
            }
        }

        #nosotros .wrapper-image {
            grid-area: about-img;
        }

        #nosotros .about-us:first-of-type {
            grid-area: about-p1;
            translate: -2rem 0;
        }
        #nosotros .about-us:nth-of-type(2) {
            grid-area: about-p2;
        }
        #nosotros .about-us:last-of-type {
            grid-area: about-p3;
        }
    }

    @media only screen and (min-width: 1440px) {
        #nosotros {
            grid-template-areas: "about-title about-title" "about-img about-p1" "about-img about-p2" "about-p3 about-p3";
        }

        #nosotros .wrapper-image,
        #nosotros img {
            width: 45vw;
            aspect-ratio: 4/3;
        }

        #nosotros .about-us:nth-of-type(2) {
            margin-left: 0;
            translate: -2rem;
        }
    }

    #nosotros .about-us:first-of-type {
        margin-top: 2rem;
    }

    #nosotros .about-us:not(:first-of-type) {
        margin-top: 1rem;
    }
    /* styling nosotros */

    /* styling opiniones */
    #opiniones h2 {
        margin: 5rem 0;
    }
    #opiniones .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    #opiniones .card {
        padding: 1.2rem 1rem 1.2rem 1.5rem;
    }

    #opiniones .card.new {
        width: 90%;
        margin-top: 2rem;
        margin-bottom: 8rem;
        display: grid;
        grid-template-columns: 5rem 1fr 1fr;
        grid-template-areas:
            "comment-new-photo comment-new-name comment-new-name"
            "comment-new-photo comment-new-date comment-new-date"
            "comment-new-comment comment-new-comment comment-new-comment"
            "comment-new-gender null comment-new-buttons";
        gap: 1rem;
    }

    #opiniones input {
        background-color: transparent;
        color: var(--color-secondary);
        border: 0;
        white-space: nowrap;
        overflow-y: auto;
        &:focus {
            border: none;
            outline: none;
        }
        &::placeholder {
            color: inherit;
        }
    }

    #opiniones .new .circle {
        grid-area: comment-new-photo;
        background-color: var(--color-primary);
        aspect-ratio: 1/1;
        border-radius: 100%;
        max-width: 4rem;
    }

    #opiniones .new .name {
        grid-area: comment-new-name;
    }

    #opiniones .new .time {
        grid-area: comment-new-date;
    }

    #opiniones .new .comment {
        grid-area: comment-new-comment;
    }

    #opiniones .new .genders {
        grid-area: comment-new-gender;
        display: flex;
        gap: 0.5rem;
        margin-left: 0.5rem;
    }

    #opiniones .new .interactive-zone {
        grid-area: comment-new-buttons;
    }

    #opiniones .card {
        border: 1px solid var(--color-secondary);
        border-radius: 4px;
        background-color: var(--color-accent);
    }

    #posted-comments {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5rem 2rem;
        margin-bottom: 5rem;
    }

    #posted-comments .card.published {
        max-width: 20rem;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "comment-photo comment-name"
            "comment-photo comment-date" "comment-text comment-text";
    }

    #posted-comments .card.published .circle {
        grid-area: comment-photo;
        background-color: var(--color-primary);
        border-radius: 100%;
        aspect-ratio: 1/1;
        max-width: 4rem;
    }

    #posted-comments .card.published .name {
        grid-area: comment-name;
        font-size: 1.3rem;
        font-weight: var(--font-weight-semibold);
    }
    #posted-comments .card.published .time {
        grid-area: comment-date;
        font-weight: var(--font-weight-normal);
        translate: 0 -0.5rem;
    }
    #posted-comments .card.published .comment {
        grid-area: comment-text;
        margin-top: 1rem;
        font-weight: var(--font-weight-lighter);
    }
    /* styling opiniones */

    /* styling contactanos */
    #contacto {
        display: flex;
        flex-direction: column;
    }
    #contacto h2 {
        text-align: left;
        margin-top: 2rem;
    }
    #contacto .location-ask {
        padding-left: 1.1rem;
        margin-bottom: 1rem;
    }
    #contacto .location-answer {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        margin-bottom: 1.5rem;
    }
    #contacto .container-iframe {
        width: 80vw;
    }
    #contacto #social-media {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem 1.5rem;
        margin: 2.5rem 0;
        padding-left: 2rem;
    }
    #contacto #social-media span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    @media only screen and (min-width: 744px) {
        #contacto {
            display: grid;
            grid-template-areas:
                "contacto-title contacto-title contacto-title contacto-title contacto-title contacto-title"
                "contacto-ask contacto-ask contacto-answer contacto-answer contacto-answer contacto-answer"
                "contacto-map contacto-map contacto-map contacto-map social-media social-media";
        }
        #contacto h2 {
            grid-area: contacto-title;
            padding-left: 0;
            text-align: center;
        }
        #contacto .location-ask {
            grid-area: contacto-ask;
            margin-top: 3rem;
            padding-left: 1.8rem;
        }
        #contacto .location-answer {
            grid-area: contacto-answer;
            margin-top: 3rem;
            translate: -2rem;
            margin-bottom: 2rem;
        }
        #contacto .container-iframe {
            grid-area: contacto-map;
            width: 100%;
        }
        #contacto #social-media {
            grid-area: social-media;
            translate: -1rem -2rem;
            gap: 1rem;
            justify-content: space-around;
        }
        #contacto #social-media span:nth-child(2n) {
            justify-content: flex-start;
        }
        #contacto #social-media span:nth-child(2n + 1) {
            justify-content: flex-end;
        }
    }
    @media only screen and (min-width: 1440px) {
        #contacto {
            grid-template-areas:
                "contacto-title contacto-title contacto-title"
                "contacto-ask contacto-ask contacto-ask"
                "contacto-answer contacto-answer contacto-answer"
                "contacto-map contacto-map contacto-map"
                "social-media social-media social-media";
        }

        #contacto h2 {
            padding-left: 2rem;
        }

        #contacto *:not(h2) {
            font-size: 1.75rem;
        }

        #contacto .location-ask {
            margin-top: 5rem;
            margin-left: 3rem;
        }
        #contacto .location-answer {
            grid-area: contacto-answer;
            margin-top: 1rem;
            margin-left: 6rem;
        }
        #contacto #social-media {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            justify-items: center;
        }
    }
    /* styling contactanos */
}
