@keyframes appear-module {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 100%;
        opacity: 1;
    }
}

@keyframes disappear-module {
    from {
        height: 100%;
        opacity: 1;
    }
    to {
        height: 0;
        opacity: 0;
    }
}

@keyframes disappear {
    from {
        display: block;
    }
    to {
        display: none;
    }
}

@keyframes appear {
    from {
        display: none;
    }
    to {
        display: block;
    }
}

.disappear {
    animation: disappear 2s ease both;
}

.appear {
    animation: appear 1s ease both;
}

main:has(.appear, .disappear) ~ footer,
:is(.appear, .disappear) ~ .separator-wave {
    display: none;
}

.app:has(.appear, .disappear) {
    background-color: rgba(0 0 0 /0.9);
    min-height: 4rem;
    height: 100%;
    max-height: 100vh;
}

#cart-module {
    position: relative;
    top: 4rem;
    z-index: 4;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(0 0 0 / 0.9);
    animation: appear-module 2s ease both;

    &.remove {
        animation: disappear-module 1s ease both;
    }

    & .window {
        padding: 0 2rem;
        height: 100%;
        background-color: rgba(255 255 255 / 0.3);
        border: 1px solid black;
        backdrop-filter: blur(5px);
        overflow-x: hidden;
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1rem;

        & .window_section {
            padding: 2rem 0;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            overflow-x: hidden;

            &:nth-of-type(2n + 1) {
                background-color: var(--color-primary);

                & .products-region {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 3rem;
                    justify-content: center;

                    & .product {
                        display: grid;
                        grid-template-areas: "img title" "img category" "img description" "img buttons";
                        gap: 1rem;
                        border-radius: 5px;
                        background-color: var(--color-opacity-accent);
                        max-width: 27rem;
                        min-width: 27rem;
                    }

                    #lista-productos {
                        margin-bottom: 4rem;
                    }

                    & .wrapper-image,
                    img {
                        position: relative;
                        aspect-ratio: 9/16;
                    }

                    & .wrapper-image {
                        width: 7rem;
                        background-color: var(--color-accent);
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        grid-area: img;
                        translate: 0.5rem;
                    }

                    & img {
                        width: 90%;
                    }

                    & .tag {
                        position: absolute;
                        top: 2rem;
                        left: 0.25rem;
                        border-radius: 0 5px 5px 0;
                        border: 1px solid black;
                        padding: 0.2rem;
                    }

                    & .name {
                        grid-area: title;
                        font-weight: var(--font-weight-semibold);
                        font-size: 1.6rem;
                        translate: 0 1rem;
                    }

                    & .category {
                        grid-area: category;
                        color: var(--color-accent);
                        font-size: 1.1rem;
                        translate: 1rem;
                    }

                    & .description {
                        grid-area: description;
                        font-style: italic;
                        translate: 0 -0.5rem;
                        max-width: 70%;
                    }

                    & .interactive-zone {
                        grid-area: buttons;
                        width: 100% !important;
                        max-width: 70%;
                        translate: 0 -1rem;
                        justify-content: center;

                        & button {
                            width: fit-content;
                            flex: 1;
                            display: flex;
                            flex-wrap: nowrap;
                            padding-left: 1rem;
                            gap: 0.2rem;
                        }

                        & input {
                            max-width: 3rem;
                            text-align: center;
                            flex: 1;
                            border-radius: 0.4rem;
                            outline: 0;
                            border: none;
                        }

                        & :is(button, input) {
                            background-color: var(--color-dark-accent);
                            color: black;
                        }
                    }

                    & .name,
                    & .category,
                    &.description,
                    & .interactive-zone {
                        width: fit-content;
                        height: fit-content;
                    }
                }
            }

            &:nth-of-type(2n) {
                background-color: var(--color-accent);

                & .products-region {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0 5rem;
                    background-color: var(--color-primary);
                    border-radius: 1rem;
                    padding: 2rem;
                    justify-content: center;
                }

                & .product {
                    display: grid;
                    grid-template-areas: "img title" "img price";
                    gap: 1rem;
                    align-items: center;
                    justify-items: start;
                }

                & .wrapper-image {
                    grid-area: img;
                }

                & .name {
                    grid-area: title;
                }

                & .tag {
                    grid-area: price;
                    background-color: transparent;
                    position: relative;
                    bottom: 4rem;

                    & .price {
                        color: var(--color-dark-accent);
                    }
                }

                .wrapper-image {
                    aspect-ratio: 3/5;
                    width: 5rem;
                }
            }

            & .interactive-zone {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 1rem;
                width: 100%;
                padding: 0 1rem;

                & button {
                    padding: 0.4rem 1rem;
                    border: 0;
                    margin: 0 auto;
                    &:first-of-type {
                        border-radius: 5px;
                        font-weight: 500;
                    }
                    &:last-of-type {
                        border-radius: 2rem;
                        font-weight: var(--font-weight-semibold);
                    }
                }
            }
        }
    }
}
