/* waves */
.separator-wave {
    height: 7rem;
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;

    &:nth-of-type(1) {
        background-image: url("../../assets/images/Vector1.png");
    }

    &:nth-of-type(2) {
        background-image: url("../../assets/images/Vector2.png");
    }

    &:nth-of-type(3) {
        background-image: url("../../assets/images/Vector3.png");
    }
}

@media only screen and (max-width: 500px) {
    .separator-wave {
        background-size: cover;
    }
}

@media screen and (min-width: 500px) and (max-width: 650px) {
    .separator-wave {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 1rem;
            background-color: var(--color-primary);
        }

        &:nth-of-type(2)::before {
            background-color: var(--color-accent);
        }
    }
}

/* waves */

/* styling nav here */
@keyframes background-nav {
    to {
        background-color: var(--color-opacity-accent);
    }
}
#nav {
    padding: 0 3rem 0 3.5rem;
    position: fixed;
    inset: 0;
    z-index: 5;
    max-height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-primary);
    backdrop-filter: blur(5px);
    animation: background-nav forwards;
    animation-timeline: scroll(root block);
    animation-range: entry 4rem cover 20rem;

    &:hover {
        animation-fill-mode: backwards;
    }

    & .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;
        cursor: pointer;

        & .name:nth-child(1) {
            font-size: 1.7rem;
        }

        & .name:nth-child(2) {
            font-size: 1rem;
        }
    }

    & ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 5rem;
    }

    & a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .interactive-zone {
        display: flex;
        gap: 1rem;
        font-size: 1.3rem;
        cursor: help;
    }
}

@media only screen and (max-width: 743px) {
    & #ck-list_input {
        position: absolute;
        inset: 0;
        z-index: 6;
        opacity: 0;
        & ~ ul {
            justify-content: space-evenly;
            gap: 0;
            position: absolute;
            top: 4rem;
            left: 0;
            z-index: 5;
            width: 100vw;
            height: calc(100vh - 4rem);
            transition: translate 1s ease-in-out;
            background-color: var(--color-nav-bar);
            backdrop-filter: blur(5px);
        }
        &:not(:checked) ~ ul {
            translate: 0 0;

            & li {
                transition: translate 0.7s linear;

                &:has(a:hover) {
                    translate: 1rem;
                }
            }
        }
        &:checked ~ ul {
            translate: -100% 0;
        }
    }
}

@media only screen and (min-width: 744px) {
    #nav {
        justify-content: space-around;
        gap: 5rem;
        & input[type="checkbox"] {
            display: none;
        }
        & ul {
            flex-direction: row;
            & a {
                & img {
                    height: 1.5rem;
                }
                & span {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    #nav {
        justify-content: space-evenly;
        & ul a span {
            display: block;
        }
    }
}
/* styling nav here */

/* styling banner */
header:has(.banner-image),
.banner-image {
    min-width: 100vw;
}

header {
    position: relative;
    margin-top: 4rem;
}

.slogan {
    position: absolute;
    top: 5vw;
    left: 15%;
    color: var(--color-accent);
    display: grid;
    text-align: center;

    & > span {
        font-size: clamp(1.2rem, 5vw, 4.5rem);

        &:first-of-type {
            color: var(--color-opacity-accent);
            font-size: clamp(0.6rem, 3vw, 2.6rem);
            margin-bottom: 2vw;
        }
    }
}
/* styling banner */

/* styling products section here */
.wrapper-image,
img {
    max-width: 100%;
    aspect-ratio: 4/3;
}

.wrapper-image {
    margin: 1rem 0.5rem;
    margin-right: 1.5rem;
}

img {
    border-radius: 0.5rem;
}

.hide {
    filter: grayscale(50%) opacity(0.5);
}

.card {
    transition-property: filter cursor;
    transition: 0.5s ease;
    animation: show-card ease-in-out both;
    animation-timeline: view();
    animation-range: entry -5% cover 25%;
    &:hover {
        filter: saturate(1.1) contrast(1.1);
        cursor: pointer;
    }
}

@keyframes show-card {
    from {
        scale: 0;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

:where(#productos, #promos) .card .tag {
    position: absolute;
    z-index: 3;
    inset: 1rem 0 0 -0.25rem;
    height: fit-content;
    padding: 0.25rem;
    padding-left: 0.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    box-shadow: 3px 1px 3px 1px rgb(0 0 0 / 0.5);
}

#promos {
    padding-bottom: 7rem;

    & h2 {
        margin: 5rem 0 3rem 0;
    }

    & .carrousel {
        padding: 2rem 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        position: relative;
        scroll-snap-type: x mandatory;
        scroll-snap-align: center;
        gap: 20vw;

        & .card {
            width: clamp(5rem, 100%, 20rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            position: relative;
            min-width: 30vw;
            padding: 0 1rem;

            & .promo-name {
                font-size: clamp(1.4rem, 5vw, 1.8rem);
            }

            & .tag {
                width: fit-content;
                translate: 0.1rem 5rem;
                padding-right: 1rem;
                font-size: 1.7rem;
            }

            & :is(.wrapper-image, img) {
                width: 100%;
                position: relative;
            }

            & :is(.tag .old, .time, .stock) {
                display: none;
            }

            & .offer {
                position: absolute;
                bottom: 3rem;
                right: 0;
                padding: 1.1rem;
                display: block;
                background-image: url("../../assets/images/Star\ 1.png");
                background-size: cover;
                background-position: center;
                font-size: 1.2rem;
            }
        }
    }

    & .controller-zone {
        display: flex;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 744px) {
    #promos .carrousel .card .offer {
        scale: 1.5;
    }
}

:where(#search-product, #filter-products) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
    padding: 0.3rem 2rem;
    margin: 1rem clamp(1rem, 80%, 10rem);
    color: var(--color-secondary);

    & > * {
        color: inherit;
    }

    & > i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        padding: 0.188rem;
    }
}

#search-product > input {
    flex: 1;
    text-align: center;
    background-color: transparent;
    border: 0;
    padding: 0.3rem 0;
    transform: translateX(-1rem);

    &::-webkit-input-placeholder {
        color: inherit;
    }

    & :is(&:focus, &:active) {
        border: none;
        outline: none;
        &::placeholder {
            color: transparent;
        }
    }
}

#search-product > i {
    right: 1.1rem;
}

#filter-products > i {
    left: 1.1rem;
}

.filter {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filter-products {
    position: relative;

    & .filter {
        border-radius: 0.8rem;
        padding: 0.3rem 0.5rem;
        width: fit-content;
    }

    & #show-active-filters {
        flex: 1;
        min-height: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0.3rem 0;

        & .text-default {
            margin-left: 0.6rem;
        }
    }

    & #list-filters {
        position: relative;
        z-index: 3;
        width: calc(100% - 2.5rem);
        padding: 1rem 1.2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem 1rem;
    }

    &.inactive #all-filters #list-filters {
        opacity: 0;
        height: 0;
        display: none;
        transition: opacity 0.2s ease 1s;
        overflow: hidden;
    }

    &.active #all-filters #list-filters {
        display: flex;
        opacity: 1;
        animation: full-height 1s ease forwards;
    }

    & #all-filters {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;

        & #selected-filters {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.5rem;
            width: fit-content;
            padding-left: 1.5rem;

            & .filter {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                gap: 0.2rem;
            }
        }
    }
}

@keyframes full-height {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

#productos {
    padding: 4rem 2rem;

    & h2 {
        margin-bottom: 5rem;
    }

    & .products {
        margin: 3rem 0;
        padding: 2rem 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    & :where(.products, .carrousel) .card {
        box-shadow: 0 0 0.5px 0.25px black;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 1rem;
    }
}
#productos .card {
    display: grid;
    grid-template-columns: minmax(50px, 185px) minmax(180px, 1fr);
    grid-template-areas: "img name" "img category" "img description" "img interactive" "img interactive";
    gap: 0.5rem;
    position: relative;
    background-color: var(--color-opacity-accent);

    & .wrapper-image {
        grid-area: img;

        &::before {
            content: "";
            position: absolute;
            top: -1rem;
            left: -1rem;
            width: 118%;
            height: calc(108% - 1px);
            transform: translateY(1px);
            border-radius: 1rem 0 0 1rem;
            background-color: var(--color-accent);
            z-index: 1;
        }
    }

    & :is(.tag, .name) {
        width: fit-content;
    }

    & :is(.wrapper-image, img) {
        filter: drop-shadow(rgb(0 0 0 / 0.5) 1px 2px 2px);
        width: 10rem;
        height: 99%;
        position: absolute;
        top: -4%;
        left: -4%;
        z-index: 2;
    }

    & img {
        translate: 0.13rem 0.2rem;
    }

    & .name {
        grid-area: name;
        font-size: 1.7rem;
    }

    & .category {
        grid-area: category;
        color: var(--color-accent);
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    & .description {
        grid-area: description;
        font-weight: var(--font-weight-lighter);
        opacity: 0.7;
        margin-bottom: 1rem;
        text-wrap: balance;
    }

    & .interactive-zone {
        grid-area: interactive;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0 1rem;

        & > :is(button, input) {
            background-color: var(--color-opacity-accent);
            color: var(--color-secondary);
            font-weight: var(--font-weight-semibold);
            border-radius: 0.3rem;
            cursor: pointer;
            transition: scale 0.4s ease;
        }

        & > :is(button:hover, input:hover) {
            scale: 1.02;
        }

        & > button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.3rem;
            flex: 1;
        }

        & > input {
            text-align: center;
            width: 60px;
        }
    }
}

@media only screen and (max-width: 500px) {
    #productos .card {
        grid-template-columns: minmax(30px, 100px) minmax(100px, 1fr);
        width: 90vw;

        & :is(.wrapper-image, img) {
            width: clamp(4rem, 100%, 6rem);
            translate: -0.2rem;
        }
    }
}

@media only screen and (min-width: 500px) {
    #productos .card {
        width: 26rem;
        min-height: 14rem;
    }
}

/* styling products section here */

/* styling nosotros */
#nosotros {
    padding: 3rem 0 7rem 0;

    & > * {
        margin: 0 2rem;
    }

    & > .about-us {
        text-wrap: balance;
        &:first-of-type {
            margin-top: 4rem;
        }
    }

    & :is(.wrapper-image, img) {
        display: none;
    }
}

@media only screen and (min-width: 744px) {
    #nosotros {
        container: about-text/inline-size;
        display: grid;
        grid-template-areas: "about-title about-title" "about-img about-p1" "about-p2 about-p2" "about-p3 about-p3";

        & > * {
            margin: 0 7rem;
        }

        & > .about-us {
            font-size: 1rem;

            &:first-of-type {
                grid-area: about-p1;
                margin: 2rem 3rem 0 0;
                translate: -4rem 0;
            }

            &:nth-of-type(2) {
                grid-area: about-p2;
                padding: 2rem;
                margin-top: 2rem;
                text-wrap: pretty;
            }

            &:last-of-type {
                grid-area: about-p3;
                text-align: left;
                padding-left: 2rem;
                text-wrap: pretty;
            }
        }

        & :is(.wrapper-image, img) {
            display: block;
            width: 40vw;
            aspect-ratio: 1/1;
            translate: 0.3rem 0.5rem;
        }

        & h2 {
            grid-area: about-title;
            margin: 6rem 0;
        }

        & .wrapper-image {
            grid-area: about-img;
        }
    }

    @container about-text (width > 820px) {
        #nosotros .about-us {
            font-size: 1.3rem;
        }
    }
    @container about-text (width > 900px) {
        #nosotros .about-us {
            font-size: 1.5rem;
        }
    }
    @container about-text (width > 1000px) {
        #nosotros .about-us {
            font-size: 1.7rem;
        }
    }
    @container about-text (width > 1180px) and (width < 1440px) {
        #nosotros .about-us {
            font-size: 1.9rem;
        }
    }
}

@media only screen and (min-width: 1440px) {
    #nosotros {
        grid-template-areas: "about-title about-title" "about-img about-p1" "about-img about-p2" "about-p3 about-p3";

        & .wrapper-image,
        & img {
            width: 45vw;
            aspect-ratio: 4/3;
        }

        & .about-us:first-of-type {
            margin-top: 2rem;
            translate: -7rem 0;
        }

        & .about-us:nth-of-type(2) {
            margin-left: 0;
            translate: -7rem 0;
            padding: 0;
            margin-top: 0;
        }

        & .about-us:last-of-type {
            padding: 6rem 2rem 0 2rem;
            text-align: center;
            text-wrap: balance;
        }

        & .about-us:not(:first-of-type) {
            margin-top: 1rem;
        }
    }
}

/* styling nosotros */

/* styling opiniones */
#opiniones {
    padding: 4rem 0;

    & h2 {
        margin: 5rem 0;
    }

    & .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    & .card {
        padding: 1.2rem 1rem 1.2rem 1.5rem;
        border: 1px solid var(--color-secondary);
        border-radius: 4px;

        &.new {
            width: 90%;
            margin-top: 2rem;
            margin-bottom: 8rem;
            display: grid;
            grid-template-columns: 5rem 1fr 1fr;
            grid-template-areas:
                "comment-new-photo comment-new-name comment-new-name"
                "comment-new-photo comment-new-date comment-new-date"
                "comment-new-comment comment-new-comment comment-new-comment"
                "comment-new-gender null comment-new-buttons";
            gap: 1rem;

            & .circle {
                grid-area: comment-new-photo;
                aspect-ratio: 1/1;
                border-radius: 100%;
                max-width: 4rem;
            }

            & .name {
                grid-area: comment-new-name;
                font-weight: var(--font-weight-semibold);
            }

            & .time {
                grid-area: comment-new-date;
            }

            & .comment {
                grid-area: comment-new-comment;
            }

            & .genders {
                grid-area: comment-new-gender;
                display: flex;
                align-items: flex-end;
                gap: 0.5rem;
                margin-left: 0.5rem;
                font-size: 1.5rem;
                opacity: 0.7;
            }

            & .interactive-zone {
                grid-area: comment-new-buttons;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 1rem;

                & button {
                    border-radius: 5px;
                    color: inherit;
                    padding: 0 1rem;
                }
            }
        }
    }

    & input {
        background-color: transparent;
        color: var(--color-secondary);
        border: 0;
        white-space: nowrap;
        overflow-y: auto;

        &:focus {
            border: none;
            outline: none;
        }

        &::placeholder {
            color: inherit;
        }
    }
}

@media only screen and (min-width: 744px) {
    #opiniones .new {
        & .comment {
            margin-top: 1rem;
        }

        & .interactive-zone {
            gap: 0.7rem;

            & button {
                text-align: start;
                padding: 0.1rem 0.5rem;
                width: 120px;
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    #opiniones .card.new {
        grid-template-columns: 60px 1fr 1fr;
        grid-template-areas:
            "comment-new-photo comment-new-name comment-new-gender"
            "comment-new-photo comment-new-date comment-new-gender"
            "comment-new-comment comment-new-comment comment-new-comment"
            "comment-new-buttons comment-new-buttons comment-new-buttons";
        max-width: clamp(1100px, 60vw, 1440px);
        padding: clamp(1.5rem, calc(2rem - 1vw), 1.8rem);

        & .time {
            translate: 0.4rem -0.7rem;
        }

        & .genders {
            justify-content: flex-end;
            align-items: flex-start;
        }

        & .interactive-zone {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & button {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 0.2rem 0.5rem;
                gap: 0.4rem;
            }
        }
    }
}

#posted-comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem 2rem;
    margin-bottom: 5rem;

    & .card.published {
        padding-top: 1.2rem;
        max-width: 20rem;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "comment-photo comment-name"
            "comment-photo comment-date" "comment-text comment-text";

        & .circle {
            grid-area: comment-photo;
            border-radius: 100%;
            aspect-ratio: 1/1;
            max-width: 4rem;
        }

        & .name {
            grid-area: comment-name;
            font-size: 1.3rem;
            font-weight: var(--font-weight-semibold);
        }

        & .time {
            grid-area: comment-date;
            font-weight: var(--font-weight-normal);
            font-size: 0.8rem;
            translate: 0 -0.5rem;
        }

        & .comment {
            grid-area: comment-text;
            margin-top: 1rem;
            font-weight: var(--font-weight-lighter);
            margin-bottom: 0.7rem;
        }
    }
}
/* styling opiniones */

/* styling contactanos */
#contacto {
    display: flex;
    flex-direction: column;

    & h2 {
        text-align: left;
        margin-top: 2rem;
    }

    & .location-ask {
        padding-left: 1.1rem;
        margin-bottom: 1rem;
    }

    & .location-answer {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        margin-bottom: 1.5rem;
    }

    & .container-iframe {
        width: 80vw;
    }

    & #social-media {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem 1.5rem;
        margin: 2.5rem 0;
        padding-left: 2rem;

        & span {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }
}

@media only screen and (min-width: 744px) {
    #contacto {
        display: grid;
        grid-template-areas:
            "contacto-title contacto-title contacto-title contacto-title contacto-title contacto-title"
            "contacto-ask contacto-ask contacto-answer contacto-answer contacto-answer contacto-answer"
            "contacto-map contacto-map contacto-map contacto-map social-media social-media";

        & h2 {
            grid-area: contacto-title;
            padding-left: 0;
            text-align: center;
        }

        & .location-ask {
            grid-area: contacto-ask;
            margin-top: 3rem;
            padding-left: 1.8rem;
        }

        & .location-answer {
            grid-area: contacto-answer;
            margin-top: 3rem;
            translate: -2rem;
            margin-bottom: 2rem;
        }

        & .container-iframe {
            grid-area: contacto-map;
            width: 100%;
        }

        & #social-media {
            grid-area: social-media;
            translate: -1rem -2rem;
            gap: 1rem;
            justify-content: space-around;

            & span {
                &:nth-child(2n) {
                    justify-content: flex-start;
                }

                &:nth-child(2n + 1) {
                    justify-content: flex-end;
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    #contacto {
        grid-template-areas:
            "contacto-title contacto-title contacto-title"
            "contacto-ask contacto-ask contacto-ask"
            "contacto-answer contacto-answer contacto-answer"
            "contacto-map contacto-map contacto-map"
            "social-media social-media social-media";

        & h2 {
            padding-left: 2rem;
        }

        & *:not(h2) {
            font-size: 1.75rem;
        }

        & .location-ask {
            margin-top: 5rem;
            margin-left: 3rem;
        }

        & .location-answer {
            grid-area: contacto-answer;
            margin-top: 1rem;
            margin-left: 6rem;
        }

        & #social-media {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            justify-items: center;
        }
    }
}
/* styling contactanos */
